
/* This file contains all the color variables */
:root{
    --secondary-bg: #6e6e73;
    --primary-font-color: #ffffff;
    --secondary-font-color: #6e6e73;
    --button-bg: #f7f7f7;;
    --border-color: #a3a3a3;
}