@media (max-width: 430px) {
  main {
    display: block;
  }

  .product-header__banner {
    margin: unset;
  }
  .product-features__title {
    padding: 2rem 0;
    text-align: center;
  }

  .product-features__list {
    margin: 0 1rem;
  }

  .product-details__item {
    background-color: unset;
  }

  .product-details__item--title:nth-child(4n + 3),
  .product-details__item:nth-child(4n + 4) {
    background-color: unset;
  }

  .product-details__item--title,
  .product-features__title {
    background-color: #f6f5f8;
  }
}
