/* This file contains the styles for the product-features section of the site */

@import "./_utility.css";

.product-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-features__list {
  padding: var(--padding-none);
}

.product-features__title {
  justify-self: center;
  grid-column: span 2;
  margin: var(--margin-medium) 0;
}

.product-features__item {
  color: var(--secondary-bg);
  margin: var(--margin-medium) 0;
}




@media (max-width: 430px) {
  .product-features {
    grid-template-columns: 1fr;
  }

 .product-features_section {
    grid-column: 1;
  }

  .product-features__title {
    padding: 2rem 0;
    text-align: center;
  }

  .product-features__list {
    margin: var(--margin-medium);
  }
}

