/* This file contains the styles for the product-features section of the site */

@import "./_utility.css";

.product-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 64px 0;
  gap: 46px;
}

.product-features__list {
  padding: var(--padding-none);
  display: flex;
  flex-direction: column;
}

.product-features__title {
  justify-self: center;
  grid-column: span 2;
  margin: var(--margin-medium) 0;
  grid-column: span 2;
}

.product-features__item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--secondary-bg);
  margin: var(--margin-medium) 0;
  flex-grow: 1;
}

.product-features__price {
  grid-column: 2;
  grid-row: 3;
  color: #000000;
}

.product-feature__order-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-font-color);
  font-size: var(--font-size-small);
  background-color: var(--button-bg);
  padding: var(--padding-medium) var(--padding-large);
  border-radius: 24px;
  border: 1px solid var(--border-color);
  grid-column: 2;
  grid-row: 3;
  width: 200px;
  height: 54px;
}

.product-feature__order-now-button:hover {
  background: #a2a2a2;
  color: #ffffff;
}

@media (max-width: 460px) {
  .product-features {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .product-features__title {
    padding: 2rem 0;
    text-align: center;
    grid-column: 1;
    grid-row: 1;  }

  .product-features__list {
    margin: var(--margin-medium);
    grid-column: 1;
    grid-row: 3;
  }

  .product-features__price {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }

  .product-feature__order-now-button {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
  }
}
