/* This file contains the styles for the image section of the site */
@import "./_utility.css";

.product-images__main-image {
  width: 500px;
}

.product-images__thumbnail {
  width: 300px;
  border: 6px solid #f6f5f8;
}

.product-images,
.product-images__thumbnails {
  display: flex;
  justify-content: center;
}

.product-images {
  grid-column: 1;
  grid-row: span 2;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: var(--margin-medium);
  gap: 24px;
}


@media (max-width: 1300px) {
  .product-images__thumbnail {
    width: 250px;
  }
}

@media (max-width: 1100px) {
  .product-images {
    flex-direction: column;
  }
  .product-images__thumbnail {
    width: 210px;
  }
}



@media (max-width: 430px) {
  .product-images {
    grid-column: 1;
    grid-row: 3;
  }

  .product-images__main-image {
    width: 100%;
  }
}
