@import "./_utility.css";

.product-header {
    position: relative;
    min-height: 345px;
    overflow: hidden;
    color: var(--primary-font-color);
  }
  
  .product-header::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: url("../assets/images/header-banner.webp");
    background-position: center;
    background-size: cover;
    filter: blur(4px) brightness(0.8);
    z-index: -1;
  }
  
  .product-header__list {
    display: flex;
    justify-content: space-evenly;
    margin: var(--margin-none);
  }
  
  .product-header__item {
    font-size: var(--font-size-medium);
    margin: var(--margin-large) 0;
  }
  
  .product-header__link {
    text-decoration: none;
    color: var(--primary-font-color);
  }
  
  .product-header__link:hover {
    text-decoration: underline;
  }

  .product-header__banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 100%;
  }

  .product-header__title {
    font-size: var(--font-size-large);
    margin: var(--margin-xlarge) 0;
  }
  
  .product-header__quote {
    margin: 0 var(--margin-medium);
  }
  
  .product-header__order-now-button {
    margin: var(--margin-xxlarge) 0 0 0;
    text-decoration: none;
    color: var(--secondary-font-color);
    font-size: var(--font-size-small);
    background-color: var(--button-bg);
    padding: var(--padding-medium) var(--padding-large);
    border-radius: 8px;
    border: 1px solid var(--border-color);
  }

  
  @media (max-width: 430px) {
    .product-header__banner {
      margin: var(--margin-none);
    }
  }