@import "./_utility.css";

.product-details__banner {
  background-image: url("../assets/images/product-banner.webp");
  background-position: top;
  background-size: cover;
  height: 20rem;
  padding: var(--padding-small);
}

.product-details,
.product-details__banner {
  grid-column: span 2;
}

.product-details__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  padding: var(--padding-none);
  margin: 0 2rem;
}

.product-details__item--highlighted {
  grid-column: 1;
 text-align: center;
  font-weight: 400;
  margin: var(--margin-small) 0;
  padding: var(--padding-small) 0;
}

.product-details__title {
  text-align: center;
  margin: var(--margin-large) 0;
}

.product-details__item {
  margin: var(--margin-small) 0;
  font-weight: lighter;
}

.product-details__sublist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: lighter;
  padding: var(--padding-small) 0;
}

.product-details__subitem {
  margin: var(--margin-small) 0;
  font-weight: lighter;
}

.product-details__subitem--first {
  margin: var(--margin-none);
}

.product-details__item--highlighted:nth-child(4n + 3),
.product-details__item:nth-child(4n + 4) {
  background-color: #f6f5f8;
}

@media (max-width: 430px) {
  .product-details__list {
    grid-template-columns: 1fr;
  }

  .product-details__item {
    background-color: unset;
  }

  .product-details__subitem {
    margin: var(--margin-small) var(--margin-medium);
  }
  
  .product-details__subitem--centered{
    text-align: center;
  }

  .product-details__item:nth-child(4n + 4) {
    background-color: unset;
  }

  .product-details__item--highlighted {
    background-color: #f6f5f8;
  }
}
