/* This file contains the styles for the image section of the site */
@import "./_utility.css";

.product-images__main-image {
  width: 500px;
}

.product-images__thumbnail {
  width: 250px;
}

.product-images,
.product-images__thumbnails {
  display: flex;
  justify-content: center;
}

.product-images {
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: var(--margin-medium);
}

@media (max-width: 430px) {
  .product-images {
    grid-column: 1;
  }

  .product-images__main-image {
    width: 100%;
  }
}
