/* This file contains the styles for the product-details section of the site */

@import "./_reset.css";
@import "./_fonts.css";
@import "./_colors.css";
@import "./_sizes.css";

.product-details__banner {
  background-image: url("../assets/images/product-banner.webp");
  background-position: top;
  background-size: cover;
  height: 20rem;
}

.product-details,
.product-details__banner {
  grid-column: span 2;
}

.product-details__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  padding: var(--padding-none);
}

.product-details__item--title {
  grid-column: 1;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: var(--margin-small) 0;
  padding: var(--padding-small) 0;
}

.product-details__title {
  text-align: center;
  margin: var(--margin-medium) 0;
}

.product-details__item {
  margin: var(--margin-small) 0;
  font-weight: lighter;
}

.product-details__sublist {
  font-weight: lighter;
  padding: var(--padding-small) 0;
}

.product-details__subitem {
  margin: var(--margin-small) 0;
  font-weight: lighter;
}

.product-details__subitem--first {
  margin: var(--margin-none);
}

.product-details__item--title:nth-child(4n + 3),
.product-details__item:nth-child(4n + 4) {
  background-color: #f6f5f8;
}


@media (max-width: 430px) {
  .product-details__list {
    grid-template-columns: 1fr;
  }

  .product-details__item {
    background-color: unset;
  }

  .product-details__subitem {
    margin: var(--margin-small) var(--margin-medium);
    text-decoration: underline;
  }

  .product-details__item:nth-child(4n + 4) {
    background-color: unset;
  }

  .product-details__item--title {
    background-color: #f6f5f8;
  }
}