/* This file contains the style for the home button that is found in the right down corner*/

.home-button {
  background: var(--primary-color);
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  bottom: 1.5rem;
  z-index: 99999;
  right: 0.5rem;
  border-radius: 64px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}