

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-font-color);
  font-size: var(--font-size-small);
  background-color: var(--button-bg);
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--border-radius-large);
  border: 1px solid var(--border-color);
  width: 200px;
  height: 54px;
}

.order-button:hover {
  background: var(--button-bg-hover);
  color: #ffffff;
}


