body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.order-form__main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--margin-medium) 0;
  gap: var(--gap-large);
  padding: var(--padding-medium);
  border: 2px solid var(--border-color-light);
  border-radius: var(--border-radius-medium);
  width: 400px;
}



.order-form__radio-label--black {
  background-color: #000000;
}

.product-images__main-image {
  width: 375px;
}

.order-form__group {
  display: flex;
  border: none;
  width: 100%;
  justify-content: space-evenly;
  padding: var(--padding-medium);
}

.order-form__radio-group {
  position: relative;
  padding: var(--padding-small);
  width: 3rem;
  height: 3rem;
}

.order-form__radio-group--black {
  background-color: #000000;
}

.order-form__radio-group--grey {
  background-color: #efefef;
}

.order-form__radio-group--lightblue {
  background-color: #4f9afc;
}

.order-form__radio-group--tan {
  background-color: #f3d9c0;
}

.order-form__radio-group--vaporwave {
  background: linear-gradient(135deg, #ff50bc, #8800ff);
}

.order-form__radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.order-form__radio-input:checked + .order-form__radio-label {
  background-color: #e7e9fd;
  border: 2px solid #a3abf9;
  border-radius: 8px;
}

.order-form__radio-label:hover {
  border: 2px solid #a3abf9;
}

.order-form__radio-label {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.order-form__color-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.order-form__color-input:checked + .order-form__color-label {
  position: absolute;
  border: 2px solid #a3abf9;
  width: 54px;
  height: 54px;
  right: -3px;
  top: -3px;
  border-radius: 0;
}

.order-form__color-label:hover {
  display: block;
  position: absolute;
  border: 2px solid #a3abf9;
  width: 54px;
  height: 54px;
  right: -3px;
  top: -3px;
  border-radius: 0;
}

.order-form__color-label {
  display: block;
  border: 2px solid transparent;
  padding: 10px;
  width: 54px;
  height: 54px;
  cursor: pointer;
  position: absolute;
  top: -3;
  right: -3;
}

.order-form__image {
  width: 500px;
}

.order-form__quantity {
  display: flex;
  align-self: flex-start;
  padding: var(--padding-medium);
  width: 100%;
  gap: var(--margin-xlarge); /* Replaced 3rem */
}


.order-form__quantity-input{
  border: none;
  width: 64px;
  border-bottom: 1px solid #000000;
  font-size: var(--font-size-small);
  text-align: center;
}

.order-form__quantity-input:focus-visible {
  outline: none
}

.order-form__quantity-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.order-form__contact-info{
  flex-wrap: wrap;
  justify-content: unset;
  gap: var(--gap-large);
}

.order-form__contact-field{
  border: none;
  border-bottom: 1px solid #000000;
  height: 2rem;
  font-size: 1rem;
}

.order-form__contact-field--firstname, .order-form__contact-field--lastname{
  width: 45%;
}

.order-form__contact-field--email{
  width: 100%;
}
.order-form__contact-field--address{
  width: 100%;
}
.order-form__contact-field:focus-visible {
  outline: none
}

@media screen and (max-width: 900px) {
  body {
    height: unset;
  }
  
}

@media screen and (max-width: 768px) {
  .order-form__image {
    width: 375px;
  }
  
}