/* This file contains the styles for the image section of the site */
.product-images__main-image {
  width: 500px;
}

.product-images__thumbnail {
  width: 300px;
  border: 6px solid #f6f5f8;
}

.product-images,
.product-images__thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-images {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}

@media (max-width: 1300px) {
  .product-images__thumbnail {
    width: 250px;
  }
}

@media (max-width: 1100px) {
  .product-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-images__thumbnail {
    width: 210px;
  }
}

@media (max-width: 460px) {

  .product-images {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .product-images {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .product-images__main-image {
    width: 100%;
  }

  .product-images__thumbnail {
    width: 300px;
  }
}