/* This file contains the styles for the product-features section of the site */


.product-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: calc(var(--padding-xlarge) * 2) 0;
  gap: calc(var(--gap-medium) * 2);
}

.product-features__list {
  padding: var(--none);
  display: flex;
  flex-direction: column;
}

.product-features__title {
  justify-self: center;
  grid-column: span 2;
  margin: var(--margin-medium) 0;
  grid-column: span 2;
}

.product-features__item {
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
  color: var(--secondary-bg);
  margin: var(--margin-medium) 0;
  flex-grow: 1;
}

.product-features__price {
  grid-column: 2;
  grid-row: 3;
  color: var(--third-font-color);
}


@media (max-width: 460px) {
  .product-features {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .product-features__title {
    padding: var(--margin-xlarge) 0; 
    text-align: center;
    grid-column: 1;
    grid-row: 1;  
  }

  .product-features__list {
    margin: var(--margin-medium);
    grid-column: 1;
    grid-row: 3;
  }

  .product-features__price {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }

  .product-feature__order-now-button {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
  }
}
