@import "./fonts.css";
@import "./colors.css";


body {
  margin: unset; /* Removes the space around the page */
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}

.product-header {
  position: relative;
  height: 25rem;
  overflow: hidden;
}

/* Adds a blurry image to the header */
.product-header::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-image: url("../assets/images/header-banner.webp");
  background-position: center;
  background-size: cover;
  filter: blur(4px) brightness(0.8);
  z-index: -1;
}

.product-header__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.product-header__item {
  list-style: none;
  font-size: 1.4rem;
  padding: 28px 0;
}

.product-header__link {
  text-decoration: none;
  color: var(--primary-font-color);
}

.product-header__link:hover {
  text-decoration: underline;
}

.product-header__banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 100%;
}

.product-header__title {
  font-size: 2.25rem;
}

.product-header__order-now-button {
    margin: 2.5em 0 0 0;
    text-decoration: none;
    color: var(--secondary-font-color);
    font-size: 1.1em;
    background-color: var(--button-bg);
    padding: 0.7em 1.1em;
    border-radius: 0.8rem;
    border: 1px solid var(--border-color);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.product-images__main-image{
  width: 50%;
}

.product-images,
.product-images__thumbnails {
  display: flex;
  justify-content: center;
}

.product-images{
  align-items: center;
  flex-direction: column;
}

.product-images__thumbnail {
  width: 25%;
}


.product-features {
  display: flex;
  flex-direction: column;
  color: var(--secondary-bg);
  font-weight: 100;
}

.product-features__list {
  padding: unset;
}

.product-features__item {
  list-style: none;
  margin: 16px 0;
}
