/* This is the main CSS faile */

@import "./_reset.css";
@import "./_fonts.css";
@import "./_colors.css";
@import "./_sizes.css";
@import "./_product-header.css";
@import "./_product-details.css";
@import "./_product-features.css";
@import "./_product-images.css";
@import "./_home-button.css";


html {
  scroll-behavior: smooth;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

@media (max-width: 430px) {
  main {
    display: block;
  }
}
